server:
  port: ${PORT:8888}

management:
  metrics:
    tags:
      environment: ${ENVIRONMENT:local}
      application: ${spring.application.name}
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, metrics, prometheus
  endpoint:
    health:
      probes:
        enabled: 'true'

spring:
  application:
    name: gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedHeaders: "*"
            allowedMethods:
              - GET
              - POST
              - DELETE
              - PUT
              - PATCH
              - OPTIONS
      routes:
        - id: authentication
          uri: http://trading-journal-authentication
          predicates:
            - Path=/authentication/**
          filters:
            - StripPrefix=1
        - id: entry
          uri: http://trading-journal-entry
          predicates:
            - Path=/entry/**
          filters:
            - StripPrefix=1
            - name: RequestSize
              args:
                maxSize: 5000000