server:
  port: ${PORT:8888}

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: authentication
          uri: http://localhost:8080
          predicates:
            - Path=/authentication/**
          filters:
            - StripPrefix=1